/* Fonts family */

.mont {
  font-family: "Montserrat", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.alegreya {
  font-family: "Alegreya Sans", sans-serif;
}
/*Fonts section end*/

/* Modal */
.modal {
  position: absolute;
  width: 300px !important;
  margin: 0 !important;
}
a.close-modal {
  position: absolute;
  padding: 5px !important;
  width: 42px !important;
  height: 42px !important;
  z-index: 2 !important;
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-form h1 {
  margin-bottom: 3rem;
  font-weight: 700;
}
#contact-form input[type="text"] {
  background-color: #ebebeb;
  border: none;
  border-radius: 5rem;
  padding: 3px 20px;
  color: #2e2e2e;
  margin-bottom: 1rem;
}
#contact-form button {
  margin-top: 1rem;
  color: white;
  width: 10rem;
  font-weight: 900;
  font-size: 20px;
  box-shadow: 4px 4px #d8d8d8;
  padding: 10px 20px;
  background-color: #06ed99;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
#contact-form button:hover {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
}
#contact-form button a {
  color: white;
  text-decoration: none;
}

/* Home Page*/
#Home_Page {
  width: 100%;
  text-align: center;
}
#fr {
  background-color: black;
}
.head_logo {
  width: 80%;
}
.fingertips {
  padding: 0px;
  color: white;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}
.coming {
  width: 100%;
  color: white;
  font-weight: lighter;
  text-align: center;
}
.green_button {
  color: white;
  background-color: #06ed99;
}
.green_button:hover {
  color: white;
}
.green_btn {
  font-weight: bold;
  font-size: 90%;
}
#mock_up {
  display: none;
  width: 80%;
  position: absolute;
}
.header_black {
  color: black;
  text-align: center;
  font-weight: bold;
}
#after_fr {
  width: 100%;
  padding: 0px;
}

.anim_section {
  width: 100%;
  text-align: center;
  align-items: baseline;
}
.animation {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
.anim_heading {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bolder;
  margin-bottom: 4%;
}
.anim_subtext {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 90%;
}
.text_black {
  color: black;
}
.text_white {
  color: white;
}
.anim_text {
  padding-bottom: 4%;
}
.why {
  padding-top: 13%;
  padding-bottom: 10%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.why_heading {
  font-weight: bolder;
  margin-bottom: 8%;
}
.why_para {
  font-weight: bold;
  margin-bottom: 5%;
  line-height: 18px;
}
.whatsapp_heading {
  font-weight: bold;
  margin-bottom: 1%;
}
.whatsapp {
  padding-top: 15%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 15%;
}
.mobile_contact {
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
}
lottie-player {
  margin-left: auto;
  margin-right: auto;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
#top_heading {
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
}
.whatsapp_btn {
  color: white;
  background-color: #06ed99;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
  border-width: 0px;
}

#email,
#name {
  width: 100%;
  border-color: black;
  border-width: 2px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 6%;
}
textarea {
  width: 100%;
  border-color: black;
  border-width: 2px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*margin-bottom:6%;*/
  /*margin-top:6%; */
}
#submit {
  color: white;
  background-color: #06ed99;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 8%;
}
.bottom {
  width: 100%;
  padding-top: 12%;
  padding-right: 5%;
  padding-left: 5%;
}
.bottom_para {
  font-weight: normal;
  line-height: 18px;
  /* margin-top:8%;
    margin-bottom:19%; */
}
.bottom_copy {
  font-weight: lighter;
  font-size: small;
  /* margin-bottom:2.5%; */
}
.last_green {
  /* margin-top:5%; */
  color: #06ed99;
  padding-bottom: 5%;
}
body {
  overflow-y: scroll;
}

/* Team Page*/

/*End of team page*/

/* Common style*/

/* End of common style*/
