/* Fonts family */

.mont {
  font-family: "Montserrat", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.alegreya {
  font-family: "Alegreya Sans", sans-serif;
}
/*Fonts section end*/

/* Home Page*/

/* ENd of home page*/

/* Team Page*/

/*End of team page*/

/* Common style*/

/* End of common style*/
