@keyframes menu_uncollapse
{
    from{width:0px;}
    to{width:350px;}
}
@-moz-keyframes menu_uncollapse
{
    from{width:0px;}
    to{width:370px;}
}
@-o-keyframes menu_uncollapse
{
    from{width:0px;}
    to{width:370px;}
}
@-webkit-keyframes menu_uncollapse
{
    from{width:0px;}
    to{width:370px;}
}

@keyframes home_effect
{
    from{left:450px;}
    to{left:0px;}
}
/* Fonts family */

.mont {
  font-family: "Montserrat", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.alegreya {
  font-family: "Alegreya Sans", sans-serif;
}
/*Fonts section end*/

/* Home Page*/
#Home_Page
{
    display:block;
    width:100%;
    text-align: center;
    animation-name: home_effect;
    animation-duration:1.5s;
    animation-delay:0.3s;
    animation-fill-mode: forwards;
    -webkit-animation-name: home_effect;
    -webkit-animation-duration:1.5s;
    -webkit-animation-delay:0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: home_effect;
    -moz-animation-duration:1.5s;
    -moz-animation-delay:0.3s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: home_effect;
    -o-animation-duration:1.5s;
    -o-animation-delay:0.3s;
    -o-animation-fill-mode: forwards;
    position:absolute;
    left:450px;
}
#fr
{
    background-color:black;
}
.head_logo
{
    width:80%;
}
.fingertips
{   
    padding:0px;
    color:white;
    font-weight:bolder;
    text-align:center;
    width:100%;
}
.coming
{    
    width:100%;
    color:white;
    font-weight:lighter;
    text-align:center;
}
.green_button
{
    color:white;
    background-color:#00e096;
}
.green_btn 
{
    font-weight:bold;
    font-size:90%;
}
#mock_up
{
    width:80%;
    position:absolute;
}
.header_black
{
    color:black;
    text-align:center;
    font-weight:bold;
}
#after_fr
{
    width:100%;padding:0px;
}

.anim_section
{
    width:100%;
    text-align: center;
    align-items: baseline;
}
.animation
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-top:4%;
    padding-bottom:4%;
}
.anim_heading
{
    width:100%;
    padding-left:5%;
    padding-right:5%;
    font-weight:bolder;
    margin-bottom:4%;
}
.anim_subtext
{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size:90%;
}
.text_black
{
    color:black;
}
.text_white
{
    color:white;
}
.anim_text
{
    padding-bottom:4%;
}
.why
{
    padding-top:13%;
    padding-bottom:10%;
    width:100%;
    padding-left:5%;
    padding-right:5%;
}
.why_heading
{   font-weight:bolder;
    margin-bottom:8%;
}
.why_para
{
    font-weight:bold;
    margin-bottom:5%;
    line-height: 18px;
}
.whatsapp_heading
{  
    font-weight: bold;
    margin-bottom:1%;
}
.whatsapp
{
    padding-top:15%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:15%;
}
.mobile_contact
{
    padding-top:15%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:15%;
}
lottie-player
{
    margin-left:auto;
    margin-right:auto;
}
.black 
{
    background-color:black;
}
.white
{
    background-color:white;
}
#top_heading
{
    padding-left:2%;
    padding-right:2%;
    background-color: white;
}
.whatsapp_btn
{
    color:white;
    background-color:#00e096;
    font-weight:bold;
    padding-bottom:2%;
    padding-top:2%;
    padding-left:10%;
    padding-right:10%;
    border-radius:5px;
    border-width:0px;
  }

#email,#name
{ 
    width:100%;
    border-color: black;
    border-width:2px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:6%;
}
textarea
{
    width:100%;
    border-color: black;
    border-width:2px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
 /*margin-bottom:6%;*/
    /*margin-top:6%; */
}
#submit
{
    color:white;
    background-color:#00e096;
    font-weight:bold;
    padding-bottom:2%;
    padding-top:2%;
    padding-left:10%;
    padding-right:10%;
    border-radius:5px;
    border-width:0px;
    margin-top:8%;
}
.bottom
{
    width:100%;
    padding-top:12%;
    padding-right:5%;
    padding-left:5%;
}
.bottom_para
{
    font-weight:normal;
    line-height: 18px;
    /* margin-top:8%;
    margin-bottom:19%; */
    padding-top:10%;
    padding-bottom:20%;
}
.bottom_copy
{
    font-weight:lighter;
    font-size: small;
    /* margin-bottom:2.5%; */
}
.last_green
{
    /* margin-top:5%; */
    color:#00e096;
    padding-bottom:5%;
}
body
{
    overflow-y: scroll;
}

/* Team Page*/

#Team_Page
{
    display:none;
    width:100%;
    text-align:center;
    animation-name: home_effect;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: home_effect;
    -webkit-animation-duration:1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: home_effect;
    -moz-animation-duration:1.5s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: home_effect;
    -o-animation-duration:1.5s;
    -o-animation-fill-mode: forwards;
    position:absolute;
    left:450px;
}
.meet
{
    text-align:center;
    margin-bottom:0px;
}
.text_green
{
    color:#00e096;
    font-weight:lighter;
}

/*End of team page*/

/* Common style*/

#pop_nav
{
    background-color: #00e096;
}

.menu_btn
{
    position:fixed;
    right:20px;
    bottom:20px;
    width:50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
#menu
{
    display:none;
    position:fixed;
    right:0px;
    bottom:0px;
    color:white;
    font-weight:lighter;
    text-align:right;
    z-index: 9999;
    background-color:#00e096;
    border-top-left-radius:300px;
    animation-name: menu_uncollapse;
    animation-duration: 1.5s;
    animation-delay: 0;
}

.is_blurred
{
    filter:blur(3px);
}
li
{
    list-style-type: none;
    font-size: 25px;
    margin-bottom:0px;
    padding:0px;
}
ul
{
    padding-right:20px;
    padding-top:70px;
    padding-left:180px;
    line-height: 45px;
    padding-bottom:90px;

}
#close_btn
{
    font-size:110px;
    font-weight: lighter;
    position:fixed;
    bottom:0px;
    right:20px;
}
a
{
    text-decoration: none;
    text-emphasis: none;
    color: none;
}
/* End of common style*/
